1D_Cure/validation/

1D_Cure/const_vel/control/output
1D_Cure/const_vel/ppo_1/output
1D_Cure/const_vel/ppo_2/output
1D_Cure/const_vel/ppo_3/output
1D_Cure/const_vel/ppo_4/output
1D_Cure/const_vel/ppo_5/output
1D_Cure/const_vel/ppo_6/output
1D_Cure/const_vel/ppo_7/output
1D_Cure/const_vel/ppo_8/output
1D_Cure/const_vel/pd_1/output
1D_Cure/const_vel/ppo_results/output

