1D_Cure/validation/

1D_Cure/results/Control/output
1D_Cure/results/PD-Controller/output
1D_Cure/results/ppo_1/output
1D_Cure/results/ppo_2/output
1D_Cure/results/ppo_3/output
1D_Cure/results/ppo_4/output
1D_Cure/results/ppo_5/output
1D_Cure/results/ppo_6/output
1D_Cure/results/ppo_7/output
1D_Cure/results/pd_1/output
1D_Cure/results/PPO-Controller/output
1D_Cure/results/PPO-Controller_Rerun/output